body{
    background-color: rgb(206, 212, 214);
}
.container{
    margin:30px auto;
    border-radius:5px ;
}


.invisible{
    display: none;
}

.disp-block{
    display: block;
}

.channel-button{
    background-color: rgb(132, 192, 226);
    position: relative;
    margin:20px auto;
    height: 100px;
    width: 100%;
    border-radius:1px;
    cursor: pointer;
    box-shadow: -1px -1px 9px #9c9494eb;
}
.channel-button:hover{
    transform: scale(1.05);
}
.channel-button:active{
    background-color: aqua;
}
.channel-button p{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    font-size: 20px;
    color: rgb(0, 0, 0);
}

.article-wrapper{
    padding: 20px;
    margin:15px;
    /* background-color: rgb(36, 38, 59); */
    /* border: 1px solid rgb(3, 53, 24); */
    box-shadow: -1px -1px 45px grey;
}
.article-wrapper h2 {

    padding-bottom: 30px;
}
article p{
    margin :0 5%;
    font-size: 15px;
}

a{
    font-size:25px;
    float:  right;
}

.article-wrapper:after {
    content: '';
    display: block;
    clear: both;
}

.btn{
    margin-bottom:20px;
    font-size: 30px;
}

.btn-lg{
    border-radius:25px;
}

.active{
    background-color:rgb(145, 96, 12);
}
img {

    display: block;
    margin: 0 auto 20px;
    max-width: 100%;
    max-height: 250px;
    border-radius: 10px;
    box-shadow: -1px -1px 45px grey;
}

.loading-indicator{
    text-align: center;
    font-size: 45px;
    color:gray;
}
